
streamlit

google-genai
google-api-python-client
google-auth
google-auth-httplib2

langchain
langchain-community
langchain-core

faiss-cpu
sentence-transformers
transformers
torch

numpy
pandas
scikit-learn
scipy

pdfplumber
pypdf
python-docx

plotly
python-dotenv
requests